<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sensor-App - German.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sensor-App-Framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Sensor-App-Screenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sensor-App-WatchApp (Glance).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Sensor-App-WatchApp (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Sensor-App-WatchApp-Dev (Glance).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Sensor-App-WatchApp-Dev (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Sensor-App-WatchApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Sensor-App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1511013E23648D4000EC0292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1511014C23648D8000EC0292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1511015A23648DEB00EC0292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1511016823648DF700EC0292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1513ACB9232529640095760B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154E0FD5235CE3BC00FD426C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154E0FFF235CE3F900FD426C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157B0E6E227F57D6004CC169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157D91C623814C6500371C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
