<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>APP_GROUP_ID</key>
	<string>group.$(APP_GROUP_ID)$(APP_GROUP_ID_SUFFIX)</string>
	<key>CLOUDKIT_CONTAINER_ID</key>
	<string>$(CLOUDKIT_CONTAINER_ID)</string>
	<key>KICKSTART_EXCHANGE_API_KEY</key>
	<string>$(KICKSTART_EXCHANGE_API_KEY)</string>
	<key>PRIMARY_APP_ICON</key>
	<string>$(PRIMARY_APP_ICON)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
