//
//  Debug.xcconfig
//  Sensor-App
//
//  Created by Volker Schmitt on 12.09.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "General.xcconfig"
#include? "Secret.xcconfig"

// DEBUG-Specific settings
APP_DISPLAY_NAME = Sensor-App
PRIMARY_APP_ICON = AppIcon-V1
