//
//  General.xcconfig
//  Sensor-App
//
//  Created by Volker Schmitt on 12.09.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Versioning
MY_BUILD_VERSION = 20250617.1
MY_VERSION = 6.0.0

// Secrets
//
// To build the app with your own secrets, create "Secret.xcconfig" file and define below Variable inside your Secret.xcconfig file.
BASE_BUNDLE_IDENTIFIER = Sensor-App.${DEVELOPMENT_TEAM}

// Deployment Targets for Xcode
IPHONEOS_DEPLOYMENT_TARGET = 26.0
WATCHOS_DEPLOYMENT_TARGET = 26.0
TVOS_DEPLOYMENT_TARGET = 26.0
MACOSX_DEPLOYMENT_TARGET = 26.0
XROS_DEPLOYMENT_TARGET = 26.0

// Deployment Targets for Swiftlint
deployment_target_iOS = 26.0
deployment_target_watchOS = 26.0
deployment_target_tvOS = 26.0
deployment_target_macOS = 26.0
