<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLOUDKIT_CONTAINER_ID</key>
	<string>$(CLOUDKIT_CONTAINER_ID)</string>
	<key>APP_GROUP_ID</key>
	<string>group.$(APP_GROUP_ID)$(APP_GROUP_ID_SUFFIX)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is needed to display your current position, travel direction, and speed in real time</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion sensor access is required to display real-time movement data</string>
</dict>
</plist>
